#characterCreationScreen {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #fecc66, var(--gradient-purple));
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#characterCreationContent {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#characterCreationContent h1 {
    line-height: 0;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

#characterCreationContent h2 {
    padding: 0;
    margin: 0;
}

.characterField {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1.5rem;
    width: 30%;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.characterField.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterField label {
    padding: 4rem 0.5rem 0.5rem 0.5rem;
    font-size: 2rem;
}

.characterField input {
    width: 100%;
    height: 100%;
    font-size: inherit;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    outline: none;
    color: var(--main-font-color);
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
}

#characterClassButtons,
#characterRaceButtons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
}

#characterCreationContent .button {
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.selected {
    background-color: var(--frosted-glass-hover-color) !important;
    border: solid 1px white;
    box-sizing: content-box;
}

#statFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.statField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statField label {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.statValueField .button {
    padding: 1rem !important;
    line-height: 0.25 !important;
}

.statValueField {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
}

.statValueFieldValue {
    width: 2rem;
    text-align: center;
}

#characterCreateButton {
    margin-top: 4rem;
    margin-bottom: 4rem;
}