#chatScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


#messages {
    overflow-y: scroll;
    height: 100%;
}


#chatInput {
    display: flex;
    flex-direction: row;
}

#chatInputBox {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

#chatSendButton {
    height: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    aspect-ratio: 1;
    background-color: var(--frosted-glass-color);
    color: white;
    border: none;
    outline: none;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    font-weight: bold;
    cursor: pointer;

}


.botMessage {

    flex-direction: row;


}

.messageContent {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.15rem;
    padding: 1rem;
    max-width: 70%;
    background-color: var(--frosted-glass-color);
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

.userMessage {
    flex-direction: row-reverse;
    margin-left: auto;
    background-color: var(--frosted-accent-color);

}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}


.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--main-font-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    line-height: 0;
    animation: messagePreviewDot 3s calc(var(--dot-index) * -0.2s) ease-in-out infinite;
}

#messagePreview {
    display: inline;
    width: 5rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Floats up and down while changing opacicty */
@keyframes messagePreviewDot {
    0% {
        transform: translateY(1.5px) translateX(25%);
        opacity: 1;
    }

    50% {
        transform: translateY(-2.5px) translateX(25%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(1.5px) translateX(25%);
        opacity: 1;
    }

}