:root {
    --main-background-color: #400080;
    --main-font-color: #FFF;
    --main-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
    --frosted-glass-color: rgba(3, 3, 3, 0.35);
    --frosted-glass-hover-color: rgba(10, 10, 10, 0.35);
    --body-font: 'Arial', sans-serif;
    --item-size: 8rem;
    --inventory-gap: 4rem;
    --accent-color: #fecc66;
    --frosted-accent-color: rgba(254, 204, 102, 0.35);
}

body {
    background: linear-gradient(45deg, #fecc66, #f75c03);
    color: var(--main-font-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}


#content {
    width: 100%;
    height: 100vh;
}


.button {
    cursor: pointer;
}

.button:hover {
    background-color: var(--frosted-glass-hover-color) !important;
}

.button:active {
    background-color: var(--frosted-glass-color) !important;
}


.contentScreen {
    position: relative;
    width: 100%;
    height: 100%;
}