:root {
    --main-background-color: #400080;
    --main-font-color: #FFF;
    --main-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
    --frosted-glass-color: rgba(3, 3, 3, 0.5);
    --frosted-glass-hover-color: rgba(50, 50, 50, 0.35);
    --body-font: 'Arial', sans-serif;
    --item-size: 8rem;
    --inventory-gap: 4rem;
    --accent-color: #fecc66;
    --frosted-accent-color: rgba(200, 255, 200, 0.35);
    --gradient-purple: #793d78;
}

body {
    color: var(--main-font-color);
    background: linear-gradient(0deg, #9f6673, #793d78);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#rainCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#content {
    width: 100%;
    height: 100vh;
    position: relative;
}


.button {
    cursor: pointer;
}

.button:hover {
    background-color: var(--frosted-glass-hover-color) !important;
}

.button:active {
    background-color: var(--frosted-glass-color) !important;
}


.contentScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentScreen:not(.firstTimers) {
    transition: opacity 0.5s ease-in-out;
}

.contentScreen.hidden {
    opacity: 0;
    pointer-events: none;
}


.frosted {
    background-color: var(--frosted-glass-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#siteTitle {
    font-family: Afterkilly, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.2rem;
    font-size: 4.5rem;
}

@font-face {
    font-family: 'Afterkilly';
    src: url("../fonts/Afterkilly.ttf");
}