#sidebar {
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    color: var(--main-font-color);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}


#sidebar>* {
    padding-left: 2rem;
    padding-right: 2rem;
}

.sidebarTitle {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

#name {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.sidebarSubheader {
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebarSubheader .value {}

#statsTitle {

    padding-top: 1rem;
}

#statsContainer {
    padding-top: 1rem;

    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.stat {
    width: 100px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--frosted-glass-color);
    border-radius: 25px;
}

.stat .value {
    font-size: 2rem;
    font-weight: 600;
}

.statName {
    font-size: 1rem;
    font-weight: 500;
}

#sidebar .button {
    padding: 2rem;
    background-color: var(--frosted-glass-color);
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar .button:hover {
    background-color: var(--frosted-glass-hover-color);
}

#bottomButtons {
    display: flex;
    flex-direction: column;
    padding: 0;
}